@using MbmStore.Models
@using MbmStore.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper MbmStore.Infrastructure.*, MbmStore

@{
    ViewData["Title"] = "_ViewImports";
}

<h1>_ViewImports</h1>

